body {
  font-size: 1rem;
  padding-bottom: 110px;
}

.bottom-buttons {
  z-index: 99;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.bottom-buttons button {
  border-radius: 50%;
  margin: 5px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.title {
  margin-top: 30px;
}

table.jsoneditor-tree>tbody>tr.jsoneditor-expandable:first-child {
  display: none;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.task-suggestions {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  transform: translate(0, -100%);
  top: 0;
  margin-top: -5px;
  border: 1px solid #007bff;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 54px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 54px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-size: medium;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.sidebar .nav-link:hover {
  background-color: #e0f0ff; /* 改变背景颜色 */
}

.sidebar .nav-link i {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: white !important;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}